global
    log /dev/log local0
    maxconn 2048
    daemon

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend galera_frontend
    bind *:14333
    default_backend galera_backend

backend galera_backend
    mode tcp
    balance roundrobin
    server galera-node1 galera-node1:3306 check
    server galera-node2 galera-node2:3306 check
    server galera-node3 galera-node3:3306 check
    server galera-node4 galera-node4:3306 check
    server galera-node5 galera-node5:3306 check

listen stats
    bind *:13333
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats show-node
    stats auth haproxy:haproxy
